
#box-logo,
#general {
  display: inline-block;
}

#box-logo img,
#box-logo h1 {
  display: inline-block;
}

.botao-input {
  display: inline-block;
  width: 69%;

}

#user {
  display: inline-block;
  width: 30%;
}

#box-logo {
  width: 25%;
  border-right: 2px solid white;
}

#general {
  width: 74%;
}

#search-button {
  background: transparent;
  border: none;

}
