body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    border: solid 1px purple;
}

#main-title {
    display: flex;
    margin-left: 300px;
}

#main-title h1, select {
    display: flex;
    flex-direction: column;
    
}

#main-content {
    display: flex;

}

#main-content div {
    display: flex;
    flex-direction: column;
}

.content-general {
    display: flex;
    border: solid 1px blue;

}

#main-content div {
    display: flex;
    justify-content: center;
}

