

main {
    display: flex;
    border: solid 1px purple;
}

#main-title {
    display: flex;
    margin-left: 300px;
}

#main-title h1, select {
    display: flex;
    flex-direction: column;
    
}

#main-content {
    

}

#main-content div {
    float: left;
    width: 33%;
}

.content-general {
    display: flex;
    border: solid 1px blue;

}

#main-content div {
    display: flex;
    justify-content: center;
}

