.menu-general  {
  list-style-type: none;
  width: 20%;
  background-color: limegreen;
  
}

.menu-general img {
  width: 20px;
	margin-right: 20px;
	vertical-align: middle;
  
}

.groups {
  list-style-type: none;
  width: 20%;
  background-color: limegreen;
  
}

nav {
    display: inline-block;
    width: 300px;
    border: solid 1px red;
}